/* General */

body {
    padding-left: 20px;
}



/* Button */



/* Liste */

ul {
    list-style: georgian;
}

li {
    padding-top: 10px;
}

/* Klassen */

.filterElement {
    padding-top: 15px;
    font-size: 16px;
}

/* Ungenutzt */
.collapsible {
    background-color: #eee;
    color: #444;
    outline: none;
    font-size: 15px;
}

/* Ungenutzt */
.active, .collapsible:hover {
    background-color: darkgray;
}

.content {
    margin-top: 10px;
    padding: 0 18px;
    overflow: visible;
    background-color: #f1f1f1;
}

/* IDs */

#filterSpace {
    padding: 20px;
}

#filterRight {
    display: inline-block;
    margin-left: 5px;
}

#filterLeft {
    display: inline-block;
}

#scrollTable {
    float: left;
    width: 95%;
    padding: 20px 0px 0px 50px;
    height: 700px;
    overflow: auto;
}

#searchButton {
    float: right;
    margin: 50px 35px 0px 0px;
    padding: 5px 15px 5px 15px;
    position: static;
    font-size: 15px;
}

#searchButton:hover {
    background-color: steelblue;
}

#searchButtonAlias {
    float: right;
    margin: 50px 35px 0px 0px;
    padding: 5px 15px 5px 15px;
    position: static;
    font-size: 15px;
    display: none;
}

#searchButtonAlias:hover {
    background-color: steelblue;
}

/* Nav */
.topnav {
    overflow: hidden;
    border-style: solid;
    border-color: #cccccc;
    padding: 6px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Style the "active" element to highlight the current page */
.topnav a.active {
    background-color: #2196F3;
    color: white;
}

/* Style the search box inside the navigation bar */
.topnav input[type=text] {
    float: left;
    padding: 6px 6px 6px 5px;
    border: none;
    margin-right: 16px;
    font-size: 17px;
    width: 100%;
}

/* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
@media screen and (max-width: 600px) {
    .topnav a, .topnav input[type=text] {
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 14px;
    }

    .topnav input[type=text] {
        border: 1px solid #ccc
    }
}

/*Tooltip*/
/* Tooltip container */
.tooltipCSS {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltipCSS .tooltiptextCSS {
  visibility: hidden;
  width: 200px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltipCSS:hover .tooltiptextCSS {
  visibility: visible;
}

